body{
    background-color: rgb(119, 167, 79);
}
#titol{

    font-size: 50px;
    text-decoration: underline;
}


p {
    color: rgb(49, 243, 24)

}
.text-important{
    font-weight: bold;
    color: rgb(255, 0, 43);

}
.vermell{
    color: rgb(255, 0, 43);

}
.gran{
    font-size: 24px;

}
.negreta{
    font-weight: bold;

}
.subratllat{
    text-decoration: underline;

}
ul > li:first-child {
    color: rgb(229, 0, 0);
    
}
ul > li:nth-child(2){
color: rgb(39, 222, 39);
}
ul > li:last-child{
    color: rgb(67, 67, 194);
}
.enlace_wiki:hover {
    color:black;
    cursor: pointer;
}
p::before {
    content: "👉";
    color: blue;
   
}

p::after {
    content: "✔";
    color: rgb(4, 255, 84);
    
}
